---
interface Props {
	text: string
	link: string
	className?:string
}

const { text, link, className } = Astro.props
---

<a
	class=`group relative inline-flex items-center overflow-hidden rounded border border-current from-sky-500 to-indigo-500 px-8 py-3 bg-gradient-to-r focus:outline-none focus:ring active:text-gray-200 ${className}`
	href={link}
>
	<span class="absolute -end-full transition-all duration-300 group-hover:end-4">
		<slot name="icon" />
	</span>

	<span class="text-base md:text-xl font-medium transition-all group-hover:me-4">{text}</span>
</a>
