---
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro'
---

<script is:inline type="text/javascript">
	iFrameResize({ log: false, checkOrigin: false }, '#form-submit-a-form-below-aqdqgc')
</script>
<script is:inline type="text/javascript" src="https://opnform.com/widgets/iframeResize.min.js"
></script>

<LayoutWithNavbar>
	<div class="h-screen">
		<iframe
			style="border:none;width:100%; height:100vh"
			id="form-submit-a-form-below-aqdqgc"
			src="https://opnform.com/forms/submit-a-form-below-aqdqgc"></iframe>
	</div>
</LayoutWithNavbar>
