---
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro'
import Gallery from '../components/Gallery.astro'
---

<LayoutWithNavbar>
	<main class="h-full w-full px-7" >
		<h2 class=" text-center text-5xl my-6 mb-9">Take a Look Inside! </h2>
		<Gallery/>
	</main>
</LayoutWithNavbar>

