---
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro'
import Gallery from '../components/Gallery.astro'
---

<LayoutWithNavbar>
	<main class="h-full w-full" >
		<Gallery/>
	</main>
</LayoutWithNavbar>

