---
import GalleryIcon from '../components/GalleryIcon.astro'
import EmailIcon from '../components/EmailIcon.astro'
import NavBar from '../components/NavBar.astro'
import Layout from '../layouts/Layout.astro'
import Wave from '../components/Wave.astro'
import ButtonLinkWithAnimationIcon from '../components/ButtonLinkWithAnimationIcon.astro'
const title = 'The Cove Parise de Reves'
---

<Layout title={title}>
	<main>
		<section
		class="h-screen max-w-[calc(100%_-_2rem)] bg-[url('/images/Home.webp')] bg-cover bg-center bg-no-repeat"
	>
		<NavBar />
	</section>
	<section
		class="h-screen bg-black max-w-[calc(100%_-_2rem)] bg-[url('/images/Home2.webp')] bg-cover bg-no-repeat "
		style="clip-path: polygon(49% 0, 75% 0, 85% 6%, 100% 0, 100% 100%, 0 99%, 0 25%, 0 0, 11% 5%, 17% 0)"
	>
		<div
			class=" pt-20 text-xl text-white lg:items-center flex"
		>
			<p class="text-pretty px-10 max-w-4xl flex-grow">
				This newly-remodeled luxurious 5-bedroom, 3-1/2 bath home is nestled in a beautiful 7-1/2
				acre wooded area in the hills of Northwest Austin. It affords guests an amazing canyon view
				and ample privacy in a serene setting. This home is minutes from the heart of downtown
				Austin and is close to popular destinations including The Austin Country Club, Lake Travis,
				the Bull Creek Greenbelt, the hike and bike trails of Ladybird Lake, Zilker Park and
				Austin’s iconic Pennybacker Bridge
			</p>
			<div class=" flex ml-auto gap-5 mr-10 mb-10">
				<ButtonLinkWithAnimationIcon text='Inquire Now'>
					<EmailIcon slot='icon'/>
				</ButtonLinkWithAnimationIcon>
				<ButtonLinkWithAnimationIcon text='See Gallery'>
					<GalleryIcon slot='icon'/>
				</ButtonLinkWithAnimationIcon>
			</div>
		</div>
	</section>
	</main>
</Layout>
