---
// Importar el componente GalleryImage
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro'

// Lista de imágenes

// Función para generar la clase de grid basada en el tamaño de la pantalla
// function getGridClass() {
//   return window.innerWidth >= 768? 'md:grid-cols-4' : 'grid-cols-2';
// }

// // Clase de contenedor principal
// const containerClass = `grid ${getGridClass()} gap-4`;
---

<LayoutWithNavbar>
	<main class="h-full w-full"></main>
</LayoutWithNavbar>
