---
import LayoutWithSection from '../layouts/LayoutWithSection.astro'

// Importar el componente GalleryImage

// Lista de imágenes

// Función para generar la clase de grid basada en el tamaño de la pantalla
// function getGridClass() {
//   return window.innerWidth >= 768? 'md:grid-cols-4' : 'grid-cols-2';
// }

// // Clase de contenedor principal
// const containerClass = `grid ${getGridClass()} gap-4`;
---

<LayoutWithSection background="/la_casita/lacasitHome.webp" classN="bg-cover  bg-no-repeat">
	<div slot="section2" class="h-screen w-full"></div>
</LayoutWithSection>
