---

import ButtonLinkWithAnimationIcon from '../components/ButtonLinks/ButtonLinkWithAnimationIcon.astro'
import EmailIcon from '../components/icons/EmailIcon.astro'
import Slider from '../components/slider/slider.astro'
import LayoutWithSection from '../layouts/LayoutWithSection.astro'
import CheckCircular from '../components/icons/CheckCircular.astro'


---
<LayoutWithSection classN="bg-[url('/images/casita.webp')] md:bg-cover  bg-center bg-no-repeat ">
	<div slot="section1" class="h-screen w-full">
	<div class="text-center max-w-screen-sm mx-auto mt-16 ">
		<h2 class="text-white text-3xl md:text-5xl font-bold ">La Casita Getaway</h2>
		<p class="text-lg md:text-xl text-pretty  my-12 font-semibold ">Escape to the serene beauty of La Casita nestled on a sprawling 7 1/2 acre property.Unwind with stunning canyon views and take in the tranquility of nature. Indulge in a truly relaxing getaway at this charming home.
			</p>
			<ButtonLinkWithAnimationIcon text="Click Here To book La Casita" link="contact_us">
				<EmailIcon slot="icon" />
			</ButtonLinkWithAnimationIcon>
	</div>
</div>
	<div slot="section2" class=" w-full">
		<Slider className="pt-8"/>
<div class=' pt-12 text-center'>
	<div class="h-28 flex  justify-center items-center md:gap-32">
		<div  class="flex flex-col items-center space-y-2 w-40">
			<CheckCircular className='h-20 animate-pulse'/>
			<h3 class="text-xl" >Bathroom</h3>
		</div>
		<div class="flex flex-col items-center space-y-2 w-40">
			<CheckCircular className='h-20 animate-pulse'/>
			<h3 class="text-xl">Pool</h3>
		</div>
		<div class="flex flex-col items-center space-y-2 w-40">
			<CheckCircular className='h-20 animate-pulse'/>
			<h3 class="text-xl">Amazing View</h3>
		</div>
	</div>
	<h2 class="text-2xl md:text-5xl py-10">BOOK LA CASITA TODAY</h2>
	<ButtonLinkWithAnimationIcon text="Click Here To book La Casita" link="contact_us" >
		<EmailIcon slot="icon" />
	</ButtonLinkWithAnimationIcon>
</div>

	</div>
</LayoutWithSection>
