---
import ButtonOnTop from '../components/ButtonLinks/ButtonOnTop.astro'
import VendorsGallery from '../components/vendorsGallery.astro'
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro'
---

<LayoutWithNavbar>
	<main class="h-full w-full">
		<VendorsGallery />
		<ButtonOnTop />
	</main>
</LayoutWithNavbar>
