---
import LiteVideoYT from '../components/util/LiteVideoYT.astro'
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro'
---

<LayoutWithNavbar>
	<main class="h-full w-full">
		<h1>videos</h1>
		https://youtu.be/xcLHtXRvquU
		<LiteVideoYT title="tste" videoId="xcLHtXRvquU" />
	</main>
</LayoutWithNavbar>
