---
import LiteVideoYT from '../components/util/LiteVideoYT.astro';
import LayoutWithNavbar from '../layouts/LayoutWithNavbar.astro';
---
<LayoutWithNavbar>
	<main class="h-full w-full ">
		<section class="mx-auto  max-w-xl">
        <h2 class="text-2xl my-5" >Annabelle & Jordan Wedding at The Cove </h2>
		<LiteVideoYT title="Annabelle & Jordan Wedding at The Cove" videoId="xcLHtXRvquU" backgroundImage="https://i.ytimg.com/vi/xcLHtXRvquU/sddefault.jpg?sqp=-oaymwEmCIAFEOAD8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGDwgVyhyMA8=&rs=AOn4CLCfXo7tT8UsnddiwqIsGCs7kzybiw" />
			</div>
	</section>
	</main>
</LayoutWithNavbar>


