---
import Logo from './icons/Logo.astro'
---

<footer class="h-28">
	<div class="mx-auto max-w-screen-xl px-2 py-4 sm:px-6 lg:px-8">
		<div class="sm:flex sm:items-center sm:justify-between">
			<div class="flex sm:justify-start">
				<Logo class="h-auto w-32" />
			</div>

			<p class="mt-2 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
				Copyright &copy; 2024. Made with ♥ by Gilbert.
			</p>
		</div>
	</div>
</footer>
