---
import Logo from './Logo.astro'
---
<nav class="flex justify-between bg-opacity-75 backdrop-blur-md border-b-2 border-gray-800 rounded-lg shadow-lg w-full py-6 items-center">
    
    <a href="" class="text-white"><Logo/></a>
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12 text-xl">
        <li><a href="" class="">Home</a></li>
        <li><a href="" class="">Gallery</a></li>
        <li><a href="" class="">Videos</a></li>
        <li><a href="" class="">Vendors</a></li>
        <li><a href="" class="">La Casita</a></li>
        <li><a href="" class="">Contact Us</a></li>
    </ul>
</nav>