---
import NavbarLink from './Links/NavbarLink.astro'
import Logo from './Logo.astro'
---

<nav class="flex w-full items-center justify-between rounded-lg border-transparent py-1">
	<a class="pl-2" href=""><Logo /></a>
	<ul
		class="font-heading mx-auto hidden space-x-12 px-4 font-semibold md:flex md:text-sm xl:text-xl"
	>
		<li><NavbarLink text="Home" link="#" /></li>
		<li><NavbarLink text="Gallery" link="#" /></li>
		<li><NavbarLink text="Videos" link="#" /></li>
		<li><NavbarLink text="Vendors" link="#" /></li>
		<li><NavbarLink text="La Casita" link="#" /></li>
	</ul>
</nav>
