---
import Logo from './Logo.astro'
---

<nav
	class="flex w-full items-center justify-between rounded-lg border-b-2 border-gray-800 bg-opacity-75 py-6 shadow-lg backdrop-blur-md"
>
	<a href="" class="text-white"><Logo /></a>
	<ul class="font-heading mx-auto hidden space-x-12 px-4 text-xl font-semibold md:flex">
		<li><a href="" class="">Home</a></li>
		<li><a href="" class="">Gallery</a></li>
		<li><a href="" class="">Videos</a></li>
		<li><a href="" class="">Vendors</a></li>
		<li><a href="" class="">La Casita</a></li>
		<li><a href="" class="">Contact Us</a></li>
	</ul>ks
</nav>
