---
import NavBar from '../components/NavBar.astro'
import Layout from './Layout.astro'
const title = 'The Cove Parise de Reves'
interface Props {
	classN?: string
}
const {  classN,} = Astro.props
---

<Layout title={title}>
	<main>
		<section class=`h-screen max-w-full ${classN}`>
			<NavBar />
			<slot name="section1" />
		</section>
		<slot name="section2" />
	</main>
</Layout>
